/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; border-top: 8px solid #274B98;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; /*border: 4px solid #fff;*/ position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
/*.flex-caption {width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}*/
.flex-caption {width: 27%; height: 100%; padding: 2%; margin: 0; position: absolute; right: 0; top: 0; background: rgba(0,0,0,.6); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

.flex-caption-single{ width:98%; padding: 2%; margin: 0; position: absolute; bottom: 0; background: rgba(0,0,0,.6); color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px; }

/*PausePlay Nav */
.flex-pauseplay { display: block; position: absolute; bottom: 2%; cursor: pointer; color: #FFF; text-decoration: none; font-style: italic; right:12.5%;text-indent: 100%; white-space: nowrap; overflow: hidden; width:32px; height:32px;}
	.flex-pauseplay:hover{ color: #AB3E03;}
.flex-pauseplay span.play{width:32px; height: 32px; background: url(../img/flexslider/play.png) no-repeat; display: block;}
.flex-pauseplay span.pause{width:32px; height: 32px; background: url(../img/flexslider/pause.png) no-repeat; display: block;}

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav li a { display: block; position: absolute; bottom: 2%; cursor: pointer; /*color: #FFF;*/ text-decoration: none; font-style: italic; text-indent: 100%; white-space: nowrap; overflow: hidden;}
.flex-direction-nav li a:hover { color:#AB3E03;}
.flex-direction-nav li .next { width:32px; height: 32px; background: url(../img/flexslider/next.png) no-repeat; right: 3.5%;}
.flex-direction-nav li .prev { width:32px; height: 32px; background: url(../img/flexslider/previous.png) no-repeat; right:22%;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 7px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../img/flexslider/bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* Loading */
.loadingif {min-height: 440px; background: #FFF url(../img/slider-images/utms-loading.gif) no-repeat center center;}

/* ========================================= */
/*  RESPONSIVE DESIGN */
/* ========================================= */

@media only screen and (max-width: 1023px) {
	.loadingif {min-height: 375px;background: none !important;}
	}

@media handheld, only screen and (max-width: 767px) {
	.loadingif {min-height: 375px;background: none !important;}
}

@media only screen and (width : 1024px) and (orientation : landscape) {
	.loadingif {min-height: 375px;background: none !important;}
}


@media only screen and (width : 768px) and (orientation : portrait) {
	.flex-direction-nav li .prev { right: 21%;}	
	.loadingif {min-height: 290px;}
}

@media only screen and (width : 480px) and (orientation : landscape) {
	.loadingif {min-height: 164px; background: none !important;}
	
}
/*smartphone portrait*/
@media only screen and (width : 320px) and (orientation : portrait) {
	.loadingif {min-height: 110px; background: none !important;}	
}
