/* CSS RESET http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }

/* ==================================================================================================================== */

/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */

/* ==================================================================================================================== */
.container { padding-left:20px; padding-right:20px; }
.row { width:100%; max-width:1140px; min-width:755px; margin:0 auto; overflow:hidden; }
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol { margin-right:3.8%; float:left; min-height:1px; }
.row .onecol { width:4.85%; }
.row .twocol { width:13.45%; }
.row .threecol { width:22.05%; }
.row .fourcol { width:30.75%; }
.row .fivecol { width:39.45%; }
.row .sixcol { width:48%; }
.row .sevencol { width:56.75%; }
.row .eightcol { width:65.4%; }
.row .ninecol { width:74.05%; }
.row .tencol { width:82.7%; }
.row .elevencol { width:91.35%; }
.row .twelvecol { width:100%; float:left; }
.last { margin-right:0; }
img,object,embed { max-width:100%; }
img { height:auto; }

/*FONTS*/

/* font-family: 'Open Sans', sans-serif; */

/* ============================== */
/* ! THE REAL STYLES START HERE   */
/* ============================== */

/* ========================================= */
/* For Accessibility @group Skip to Content */
/* ========================================= */
#skip a,#skip a:hover,#skip a:visited {position:absolute; left:0; top:-500px; width:1px; height:1px; overflow:hidden; }
#skip a:active,#skip a:focus {position:static; width:auto; height:auto; }

a{
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear;	
}


body{
	color: #333;
	font-size: 62.5%;
}

#logoSection{ 
	background: url(../img/common/orange-noise-titlebg.jpg); 
	border-bottom: 1px solid #DBDBDB;
}
	
#mainLogo{
	/*padding-bottom: 35px;*/
    padding-top: 40px;
}

#pageTitle{
	color: #FFF;
	font-size: 40px;
	padding: 30px 0px 0px 0px;
	text-shadow: 0 2px 1px #222222;
}

#pageTitle a{
	color: #FFF;
	
}

#above-the-fold{
	border-bottom: 1px dashed #0e6c9d;
	padding-top:20px;
	padding-bottom: 20px;
	background: #FFF;
}

#below-the-fold{
	background: #ececec;
	padding-top:20px;
}


#main-news-story{
	border-bottom: 1px dashed #CCC;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

.main-featured-image{
	float: left;
	margin-right: 20px;
}

.big-header{
	font-family: "adelle",serif;
	font-size: 28px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -1px;
	color: #0e6c9d;
	
}

.big-header a{
	color: #0e6c9d;
	text-decoration: none;
	
}

h1{
	font-family: "adelle", serif;
	font-size: 18px;
	line-height: 1;
	color: #464646;
	font-weight: 700;
	letter-spacing: -.5px;
	padding-bottom:5px;
}

.news-list{
	clear: both;
}

.news-list li h1{

}

.news-list li{
	border-bottom: 1px dashed #CCC;
	padding: 20px 0px;
	clear: both;
	overflow: auto;
}

.news-list li:last-child{
	border-bottom: none;
}

.news-list li p.tags{
	font-size: 11px;
}

.news-list li p.tags a{
	background: #BBEBFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	padding: 0px 7px;
	display: block;
    float: left;
    margin: 2px;
	color: #666;	
}

.news-list li p.tags a:hover{
	background:#39ABE7;
	color: #FFF;
}

.newsarchive li{
	padding: 5px 0px;
}


/**** Comment Bubble Icons *****/
/*.comment-number:after {
    border-color: transparent #FFFFFF;
    border-style: solid;
    border-width: 0 0 14px 43px;
    bottom: -14px;
    content: "";
    position: absolute;
    right: 85px;
}
.comment-number:before {
    border-color: transparent #990000;
    border-style: solid;
    border-width: 0 0 14px 14px;
    bottom: -14px;
    content: "";
    position: absolute;
    right: 0;
}*/

.comment-number {
    background: none repeat scroll 0 0 #C91F2C;
    color: #FFFFFF;
    font-family: Georgia, serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
    height: 22px;
    position: relative;
    text-align: center;
    width: 103px;
}

.comment-quote{
	font-size: 14px;
	font-family: Georgia, serif;
}
/* */

#main-news-story p, 
.news-list li p{
	font-family: "adelle", serif;
	font-weight: 400;
	font-size:13px;
	line-height: 1.3;
}

.news-list h1 a{
	text-decoration: none;
	color: #464646;
}

.big-header a:hover,
.news-list h1 a:hover{
	color: #39abe7;
}

.wild-art-section{
	background: #464646;
	padding: 10px 10px 10px 15px;
	color: #FFF;
	margin-bottom: 20px;
}

.wild-art-section img{
	border: 1px solid #666;
}

.wild-art-section p{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.2;
	padding: 0;
	margin: 0;
}

p.wild-art-byline{
	text-align: right;
}

p.section-headline{
	text-transform: uppercase;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
}

p.section-headline strong{
	font-weight: 600;
}

/*-----------------------------------------------------------------------------------*/
/*	IN MEMORIAM / SPOTLIGHT
/*-----------------------------------------------------------------------------------*/

.in-memoriam{
	background: #414141;
	color: #FFF;
	padding: 10px 20px;
	display: block;
	border-top:3px solid #0e6c9d;
	margin-bottom: 20px;
}

.in-memoriam h1{
	color: #FFF;
	font-family: "bickham-script-pro";
	letter-spacing: .5px;
	font-weight: 400;
	font-size: 50px;
}

.in-memoriam h2{
	font-family: "adelle", serif;
	font-size: 22px;
	line-height: 1;
	color: #FFF;
	font-weight: 700;
	padding-bottom:5px;
}

.in-memoriam h2 a{
	color: #FFF;
	text-decoration: none;
}

.in-memoriam h2 a:hover{
	color: #39abe7;
}

.in-memoriam img{
	border: 5px solid #000;
	float: left;
	margin-right: 10px;
}

.in-memoriam p,
.in-the-spotlight p{
	font-family: Verdana;
	font-size: 11px;
	padding-bottom: 10px;
	line-height: 1.2;
}

.in-memoriam p a{
	text-decoration: none;
	color: #39abe7;
}

.in-memoriam p a:hover{
	color: #FFF;
}

.in-the-spotlight{
	background: #cccccc;
	padding: 10px 20px;
	border-top:3px solid #0e6c9d;
	margin-bottom: 20px;
	
}

.in-the-spotlight h1{
	color: #a94004;
	font-family: "bickham-script-pro";
	letter-spacing: .5px;
	font-weight: 400;
	font-size: 50px;
}

.in-the-spotlight h2{
	font-family: "adelle", serif;
	font-size: 22px;
	line-height: 1;
	color: #0e6c9d;
	font-weight: 700;
	padding-bottom:5px;
	letter-spacing: -.25px;
}

.in-the-spotlight h2 a{
	text-decoration: none;
	color: #0e6c9d;
}

.in-the-spotlight p a{
	text-decoration: none;
	color: #a94004;
}

.in-the-spotlight p a:hover{
	color: #0e6c9d;
}


/*-----------------------------------------------------------------------------------*/
/*	Tab Styles
/*-----------------------------------------------------------------------------------*/

.news-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
	}

.news-tabs {
	background: none;
	margin: 0 0 2em 0;
	}

.news-tabs ul.news-tabs-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
	}

.news-tabs ul.news-tabs-nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0!important;
	z-index: 10;
	list-style: none!important;
	font-family: "adelle";
	font-size: 13px;
	font-weight: 600;
	}
	

.news-tabs ul.news-tabs-nav li a {
	border: 1px solid #dfdfdf!important;
	border-bottom: none!important;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 20px;
	background: #FBFBFB;
	margin: 0!important;
	text-decoration: none;
	color: #373737!important;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
	}
	
.news-tabs ul.news-tabs-nav li a:hover {
	background: #b0e7fe!important;
	margin: 0!important;
	}

.news-tabs ul.news-tabs-nav li.ui-tabs-selected a {
	height: 21px;
	background: #b0e7fe;
	}

.news-tabs .news-tabs-panel {
	background: #fff;
	background: -moz-linear-gradient(top,  #b0e7fe 0%, #ffffff 33%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0e7fe), color-stop(33%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e7fe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	border: 1px solid #dfdfdf;
	font-family: "adelle", sans-serif;
	font-size: 13px;
	}
	
.news-tabs-panel a{
	color: #0e6c9d;
	text-decoration:none;
}

.news-tabs-panel a:hover{
	color: #39abe7;
}

.news-tabs-panel ol,
.news-tabs-panel ul{
	margin-left: 25px;
	color: #0e6c9d;
}

.news-tabs-panel ul li{
	list-style: disc;
	margin-bottom: 10px;	
}

.news-tabs-panel ol li{
	list-style: decimal;
	margin-bottom: 10px;
}

.news-tabs-panel .tagcloud{
	overflow: auto;
}

.news-tabs-panel .tagcloud a{
	padding: 0px 5px;
	margin-right:5px;
	margin-bottom: 5px;
	border-radius: 4px;
	background: #efefef;
	/*display: block;
	float: left;*/
	line-height: 2;
}

.news-tabs-panel .tagcloud a:hover{
	color: #000;
}


.tabs-clearfix:before,
.tabs-clearfix:after { content:""; display:table; }
.tabs-clearfix:after { clear: both; }
.tabs-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/*-----------------------------------------------------------------------------------*/
/*	Scoop Subscription
/*-----------------------------------------------------------------------------------*/

#scoop-subscription{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #dadbdd;
	border-radius: 5px;
	border: 1px solid #fff;
	text-shadow: 0px 1px 0px #FFF;
	padding: 10px 20px;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 20px;
	
}

#scoop-subscription a{
	text-decoration: none;
	color: #0e6c9d;
}

#scoop-subscription a:hover{
	color: #39abe7;
}

.scoop-logo{
	font-family: century gothic, sans-serif;
	font-size: 38px;
	color: #0e6c9d;
	text-transform: lowercase;
	text-shadow: 0px 0px 5px #888;
	display: inline;
}

/*-----------------------------------------------------------------------------------*/
/*	News of Note
/*-----------------------------------------------------------------------------------*/

#news-of-note{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	border-radius: 5px;
	text-shadow: 0px 1px 0px #FFF;
	padding: 20px 20px 10px 20px;
	line-height: 1.2;
	border: 1px solid #E8E8E8;
	font-family: "adelle", serif;
	margin-bottom: 20px;
	
	background: #CDCDCD; /* Old browsers */
	background: -moz-linear-gradient(top,  #b0e7fe 0%, #ffffff 20%, #CDCDCD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0e7fe), color-stop(20%,#ffffff), color-stop(100%,#CDCDCD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e7fe', endColorstr='#CDCDCD',GradientType=0 ); /* IE6-9 */

}

.news-of-note-list{
	margin-top:15px;
	margin-bottom:20px;
}

.news-of-note-list h1{
	font-size: 16px;
	letter-spacing: 0px;
}

.news-of-note-list li{
	font-size: 13px;
	margin-left: 25px;
	color: #0e6c9d;
	list-style: disc;
	margin-bottom: 10px;	
}

.news-of-note-list li p{
	color: #333;
}
#news-of-note a{
	color: #0e6c9d;
	text-decoration: none;
}

#news-of-note a:hover{
	color: #39abe7;
}

#news-of-note hr{
	height: 16px;
	display: block;
	background: url(../img/news/hr-non.png) no-repeat center center;
	border: none;
	outline: none;
}

#news-of-note-subscription p{
	font-size: 18px;
	text-align: center;
	margin-bottom: 5px;
	letter-spacing: -.25px;
	padding: 0;
}

.nonarchive li h3{
	font-size: 12px;
}

/*-----------------------------------------------------------------------------------*/
/*	Subscription Button
/*-----------------------------------------------------------------------------------*/

.subscription-form {
	margin:10px 0px;
}

.ginput_container{ 
	float: left;
}

.subscription-email{
	margin-top:3px;
}

.subscription-submit{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 13px/100% Helvetica, Arial, sans-serif;
	padding: 5px 7px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #FFF;
	text-shadow: 0px 1px 0px #333;
	border: solid 1px #0076a3;
	background: #056086;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#056086));
	background: -moz-linear-gradient(top,  #00adee,  #056086);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#056086');
}

.subscription-submit:hover{
	text-decoration: none;
	background: #056086;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00adee));
	background: -moz-linear-gradient(top,  #0095cc,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00adee');
}

.subscription-submit:active{
	position: relative;
	top: 1px;
	text-decoration: none;
	}
	


/*-----------------------------------------------------------------------------------*/
/*	TWITTER STYLES
/*-----------------------------------------------------------------------------------*/

#twitter{
	background: #FFF;
	border: 1px solid #dfdfdf;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#tweet{ 
	clear: both;
}

#tweet li,
#tweet p{
	margin-bottom:10px;
	font-family: "adelle", serif;
	font-size: 13px;
	line-height: 1.2;
}

#tweet li a{
	color: #0e6c9d;
	text-decoration: none;
}

#tweet li a:hover{
	color: #39abe7;
}

#tweet .tweet-time a{
	font-size: 80%;
	color: #a94004;
}

.twitter-avatar{
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	margin-bottom:10px;
}

/*-----------------------------------------------------------------------------------*/
/*	Additional Classes
/*-----------------------------------------------------------------------------------*/

.white{ 
	color: #FFFFFF;
	}
	
.darkblue {
	color: #0e6c9d;
}

.lightblue{
	color: #39abe7;
}

.bold{
	font-weight: 700;
}

.utorange{
	color: #a94004;
}

small{
	font-size: 80%;
}


/* ========================================= */
/* Prefooter etc */
/* ========================================= */
#preFooter{background-color: #434343; border-top:1px solid #666666; border-bottom:1px solid #FFF; font-family:Verdana, sans-serif; padding-top:20px; padding-bottom:20px; margin-bottom:20px; overflow:auto;}
#preFooter h2 {font-size:13px; font-weight:bold; color:#FFF; text-shadow:0 1px 1px #555; border-bottom:1px solid #3c3c3a; margin-bottom:15px; padding:15px 0; }
#preFooter h2 a {color:#FFF; font-style: normal; text-decoration:none; }
#preFooter h2 a:hover {color:#cccccc; text-shadow:none; }
#preFooter ul{margin:0px; padding:0px;}
#preFooter li {color:#FFFFFF; font-size:11px; line-height:22px; list-style-type: none; }
#preFooter li a {color:#FFFFFF; font-style: normal; text-decoration:none; padding:2px; }
#preFooter li a:hover,
#preFooter li.current-menu-item a {background:url(../img/common/white45.png); color:#cccccc;}
#preFooter address {background:url(../img/icons/envelope-small.png) no-repeat left 4px; color:#FFFFFF; font-size:11px; line-height:18px; 
/*margin-left:12%;*/
padding-left:22px; margin-left:1.9em; }
#preFooter address a {color:#FFFFFF; text-decoration:none; background-color:none!important; }
#preFooter address a:hover {background-color:#ebebeb!important; border-top:2px solid #BD6122; color:#cccccc; }
#preFooter #utcontactInfo h1 {border-bottom:none; padding:10px 0; }

.footericon { position:relative; top:3px; padding-right:5px; }
	
/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}