/*   
Theme Name: UTHealth Medical School
Theme URI: http://med.uth.edu
Description:  WP Theme for UTHealth Medical School.<br />This responsive theme is based on the 1140gs. Designed by the <a href="http://med.uth.tmc.edu/comm/">UTHealth Office of Communications</a>.
Author: Office of Communications, UTHealth Med School
Author URI: http://bit.ly/utooc
Version: 1.5.1 
License: Please feel free to use the code and techniques used in the site. The template is not intended for distribution and is the property of UTHealth Houston, University of Texas Medical School and Houston and requires written permission from the Office of Communications to be re-used.
*/

/* CSS RESET http://meyerweb.com/eric/tools/css/reset/ 
   v2.0px | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }

/* HTML5 display-role reset for older browsers */
article,aside,details,247,figure,footer,header,hgroup,menu,nav,section { display:block; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }

/* ==================================================================================================================== */

/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */

/* ==================================================================================================================== */
.container { padding-left:20px; padding-right:20px; }
.row { width:100%; max-width:1140px; min-width:755px; margin:0px auto; overflow:hidden; }
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol { margin-right:3.8%; float:left; min-height:1px; }
.row .onecol { width:4.85%; }
.row .twocol { width:13.45%; }
.row .threecol { width:22.05%; }
.row .fourcol { width:30.75%; }
.row .fivecol { width:39.45%; }
.row .sixcol { width:48%; }
.row .sevencol { width:56.75%; }
.row .eightcol { width:65.4%; }
.row .ninecol { width:74.05%; }
.row .tencol { width:82.7%; }
.row .elevencol { width:91.35%; }
.row .twelvecol { width:100%; float:left; }
.last { margin-right:0; }
img,object,embed { max-width:100%; }
img { height:auto; }



/* ============================== */
/* ! THE REAL STYLES START HERE   */
/* ============================== */

body{
	background: url(img/common/bg-whitenoise.jpg) repeat;
}

a{
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear;	
}

a:link, 
a:visited {
	color: #05668d; 
}
a:hover, 
a:active{ 
	color: #993400;
}

/* ============================== */
/* ! LOGO SECTION WITH VIGNETTE   */
/* ============================== */
	
#logoSection{ 
	background: url(img/common/orange-noise-titlebg.jpg); 
	border-bottom: 1px solid #DBDBDB;
}
	
#mainLogo { 
	background:url(img/common/orange-utms-vignette.jpg) no-repeat 95% -25%; 
	padding-top:40px;
	/*padding-top: 70px;  Inclement Weather */
	padding-bottom:35px;
}

#mainLogo.noSlider{ 
	padding-bottom: 0px;
}

#mainLogo h2{
	text-decoration: none;
	border:none;
}
	
#pageTitle{
	color: #FFF;
	font-family: "adelle",Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	font-size: 40px;
	padding: 30px 0px 0px 0px;
	text-shadow: 0 2px 1px #222222;
	font-weight: 700;
	letter-spacing: -.5px;
}

#pageTitle a{
	color: #FFF;
	text-decoration: none;		
}

#pageTitle a:hover{
	color: #222; 
	text-shadow: 0px 1px 0px #FFF;	
}

#mainLogo h1 a, 
#mainLogo h2 a{ 
	position: relative;
}

#mainLogo h1 a:hover, 
#mainLogo h2 a:hover{ 
	left: 1px;
}
	
#mainLogo h1 a:active, 
#mainLogo h2 a:active { 
	top:1px;
}
		
	
/* ========================================= */
/* For Accessibility @group Skip to Content */
/* ========================================= */

#skip a, 
#skip a:hover, 
#skip a:visited {
	position:absolute;	
	left:0px; 
	top:-500px; 
	width:1px;
	height:1px; 
	overflow:hidden;
}

#skip a:active, 
#skip a:focus {	
	position:static;
	width:auto;	
	height:auto;
}

.visuallyhidden { 
	border: 0; 
	clip: rect(0px 0px 0px 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

/* ============================== */
/* ! MAINCONTENT   */
/* ============================== */
#mainContent{
	margin-top:15px;
}

#mainArticle{ 
	/*background:url(img/common/white45.png) repeat;*/
}

#mainContentsecondary { 
	margin-top:-35px; 
}

#secondaryContent { 
	margin:20px 0; 
}

#secondaryContent #lastRow { 
	padding-top:20px; 
}

#mainArticle .post{ 
	margin-bottom:20px;
}

/* ================================================= */
/*  RESPONSIVE SLIDER */
/* ================================================= */

#rslider {
	position:relative;
	top:-35px;
	margin-bottom:-35px;
}

#flexcontainer {
	position:relative;
}4

.flex-caption p {
	font-family:Times New Roman, Times, serif;
	font-size:20px;
	line-height:34px;
	padding:0 0 10px;
	text-shadow:0 1px 0 #000;
	font-style:italic;
}

.flex-caption p.css3button a {
	font-style:normal;
	font-size:13px;
	line-height:20px;
}

.flex-caption-single p {
	font-family:Times New Roman, Times, serif;
	font-size:20px;
	line-height:24px;
	padding:0;
	text-shadow:0 1px 0 #000;
	font-style:italic;
}

.flex-caption-single p a,.flex-caption a {
	color:#FFF;
}

.flex-caption-single p a:hover,.flex-caption a:hover {
	text-decoration:none;
}

.flexslider .slides li .homeButton {
	width:20%;
	position:absolute;
	bottom:50px;
	right:50px;
}

#tabs-nav {
	position:absolute;
	z-index:100;
	width:19.8%;
	background:url(img/common/white80.png) repeat;
	height:100%;
	margin-left:3%;
}

#tabs-nav li {
	height:65px;
}

#tabs-nav li:first-child {
	padding-top:12%;
}

#tabs-nav li a {
	font-size:24px!important;
	border-bottom:1px solid #FFFFFF;
	color:#AB3E03!important;
	display:block;
	font-family:Verdana,sans-serif;
	font-weight:normal!important;
	text-decoration:none;
	text-shadow:0 1px 1px #FFFFFF;
	text-transform:lowercase;
	line-height:65px;
	padding-left:10%;
}

/*#tabs-nav li a:hover{
	background: url(img/common/home-slider-hover.jpg) no-repeat; 
	color: #FFF !important;
	text-shadow: 0px 1px 1px #000;
}*/

#tabs-nav li a:hover,#tabs-nav li a:active {
	background:url(img/common/home-slider-current.jpg) no-repeat;
	color:#FFF!important;
	text-shadow:0 1px 1px #000;
}

#tabs-nav #navuthscLink {
	display:block;
	padding:15% 0 0 14%;
}

#tabs-nav #navuthscLink a {
	border:none;
}

#tabs-nav #navuthscLink a:hover {
	background:none;
}

/* ============================== */
/* !Static Images for Slider  */
/* ============================== */
#staticImage {
	margin-top:-4em;
	position:relative;
	margin-bottom:1em;
}

#staticholder {
	background:#ccc;
	border-top:8px solid #274B98;
}

/*MISSION NAV for Secondary Pages */
#missionRow{ 
	padding-bottom:5px; 
	padding-top:5px;  
	background: url(img/common/black10.png) repeat; 
	border-bottom: 1px solid #DBDBDB;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
}
	
#missionNav {
	font-family:"proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
}

#missionNav li {
	font-size:20px;
	line-height:normal;
	font-weight:normal;
	float:left;
	text-align:center;
	width:25%;
}

#missionNav li a {
	text-decoration:none;
	color:#222;
	text-shadow:0 1px 0 #FFF;
}

#missionNav li a:hover,#missionNav li.active a {
	color:#993400;
}

/* ============================== */
/* ! TYPOGRAPHY for Kitchen Sink  */
/* ============================== */
#mainArticle h1 {
	font-size:22px;
	line-height:1.1;
	font-family:"adelle", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000;
	font-weight:600;
	text-shadow:0 1px 1px #FFF;
	border-bottom:2px groove #FFF;
	padding:0 0 .25em 5px;
	font-style:normal;
	letter-spacing:-.5px;
	margin-bottom:.5em;
}

#mainArticle h1 a {
	text-decoration:none;
	color:#000;
}

#mainArticle h1.single-headline {
	font-family:"adelle", "Helvetica Neue", Helvetica, Arial, serif;
	font-size:22px;
	line-height:1;
	color:#000;
	font-weight:700;
	letter-spacing:-.5px;
	padding-bottom:5px;
}

#mainArticle .tags {
	font-size:11px;
	overflow:auto;
}

#mainArticle .tags a {
	background:#BBEBFF;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	padding:0 7px;
	display:block;
	float:left;
	margin:2px;
	color:#666;
}

#mainArticle .tags a:hover {
	background:#39ABE7;
	color:#FFF;
}

h2 {
	font-size:16px;
	font-style:normal;
	color:#993400;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-shadow:0 1px 1px #FFF;
	border-bottom:2px groove #FFF;
	padding:0 0 .25em 5px;
}

h2 a{
	text-decoration: none;
}

#mainArticle h2 {
	font-size:16px;
	border:none;
	padding:0 0 10px;
	line-height:1.1;
	color:#993400;
	font-weight:normal;
}

#mainArticle h2 a {
	color:#993400;
	text-decoration:none;
}

#mainArticle h2 a:hover {
	color:#993400;
	text-decoration:none;
}

#mainArticle .widget h2 {
	color:#993400;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-shadow:0 1px 1px #FFF;
	border-bottom:2px groove #FFF;
	padding:0 0 .25em 5px;
	font-size:16px;
	font-style:normal;
}

#mainArticle h3 {
	font-size:13px;
	border:none;
	padding:10px 0;
	line-height:normal;
	font-family:"adelle", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#333;
	text-shadow:0 1px 0 #FFF;
	text-transform:uppercase;
}

#mainArticle h4 {
	font-size:13px;
	border:none;
	padding:10px 0;
	line-height:normal;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
}

#mainArticle h5 {
	font-size:12px;
	padding:10px 0;
	font-weight:bold;
	line-height:normal;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#993400;
}

#mainArticle h6 {
	font-weight:bold;
	font-family:Georgia, sans-serif;
	color:#000;
	font-size:11px;
	font-style:italic;
	padding:10px 0 5px;
}
	
#mainArticle p,
#mainContent p,
.gform_description {
	font-family:Helvetica, Arial,sans-serif;
	font-size:13px;
	color:#353535;
	line-height:1.4;
	padding-bottom:10px;
	font-weight:normal;
}

#mainArticle pre {
	white-space:pre-wrap;
	white-space:0;
	white-space:0;
	background:#faf8f0;
	border:1px dotted #ccc;
	font-family:Courier, monospace;
	font-size:13px;
	color:#333;
	padding:10px 10px 10px 25px;
}

.white45 {
	background:url(img/common/white45.png) repeat;
	padding:10px;
}

.white80px {
	background:url(img/common/white80.png) repeat;
}

#mainArticle hr {
	height:36px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	outline:none;
	background:url(img/common/main-article-hr.png) no-repeat;
}

.post-edit-link {
	background:#ffef37;
	font-family:Verdana, sans-serif;
	color:#222;
	text-transform:uppercase;
	text-decoration:none;
	font-size:11px;
	line-height:11px;
	padding:5px;
	margin:5px 0;
	font-weight:bold;
}

.post-edit-link:hover {
	background:#993400;
	color:#FFF;
	text-decoration:none;
}

#mainArticle blockquote {
	margin:0 .5em 0 1.5em;
	padding:.5em 1em .5em 2.5em;
	background:url(img/common/blockquote.png) no-repeat left top;
}

#mainArticle blockquote h1 {
	font-style:normal;
	border:none;
}

#mainArticle blockquote p {
	color:#05668D;
	font-family:"adelle", Palatino,"Palatino Linotype","Hoefler Text","Times New Roman",serif;
	font-size:16px;
	font-style:italic;
	padding-bottom:10px;
	line-height:1.4;
}

#mainArticle blockquote p em {
	font-style:italic;
}

#leftSidebar p {
	font-family:Verdana, sans-serif;
	font-size:.70em;
	line-height:1.8em;
}

#mainArticle ul,#mainArticle ol {
	margin-left:15px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height:normal;
	padding-bottom:15px;
}

#mainArticle ul > li {
	list-style-type:disc;
	margin-left:2.5%;
	margin-bottom:10px;
}

#mainArticle ol > li {
	list-style-type:decimal;
	margin-left:2.5%;
	margin-bottom:10px;
}

#mainArticle ul li a,#mainArticle ol li a {
	text-decoration:none;
	color:#05668D;
	padding:1px 5px;
	background-color:#ebebeb;
	font-size:90%;
	border-bottom:1px dotted #05668D;
}

#mainArticle ul li a:hover,#mainArticle ol li a:hover {
	background:#AB3E0E;
	color:#FFF;
	border-bottom:1px dotted #333;
}

#mainArticle li > ul,#mainArticle li > ol {
	padding-bottom:0;
	padding-top:5px;
	margin-bottom:0;
}

#mainArticle ul > ul {
	padding-bottom:0;
	margin-bottom:0;
}

#mainArticle li > ul li {
	list-style-type:circle;
}

#mainArticle li > ol li {
	list-style-type:lower-latin;
}

#mainArticle li li ol li {
	list-style-type:lower-roman;
}

#mainArticle table {
	font-family:Verdana, sans-serif;
	background:#ececec;
	width:100%;
	margin-bottom:15px;
}

#mainArticle table tr {
	border-bottom:1px solid #ccc;
	border-right:2px solid #CCC;
}

#mainArticle table tr th,#mainArticle table tr td {
	padding:5px;
	text-align:left;
}

#mainArticle table tr th {
	background:#993400;
	color:#FFF;
	text-shadow:0 1px 0 #333;
	font-size:13px;
	border-right:1px solid #CCC;
	font-weight:bold;
}

#mainArticle table tr td {
	font-size:11px;
	border-right:1px solid #CCC;
}

span.previous-story {
	clear:both;
	float:left;
}

span.next-story {
	text-align:: right;
	float:right;
}

.previous-story a,.next-story a {
	display:block;
	background:url(img/common/white45.png) repeat;
	padding:10px;
	font-size:10px;
	font-weight:bold;
	color:#333;
	text-decoration:none;
	font-family:Verdana, sans-serif;
}

.previous-story a:hover,.next-story a:hover {
	background:url(img/common/white80.png) repeat;
	color:#993400;
}

.bold {
	font-weight:700;
}

.orange {
	color:#993400;
}

.bigger {
	font-size:110%;
}

/* ============================== */
/* ! AZ INDEX  */
/* ============================== */
#mainArticle #AZtable {
	background:none;
}

#mainArticle #AZtable tr,
#mainArticle #AZtable tr td {
	border:none;
}

#mainArticle #AZtable h2 {
	background-color:#f1f1f1;
	border-top:1px solid #DDDDDD;
	color:#993400;
	margin:10px 0 0;
	padding:5px;
}

#mainArticle #AZtable a {
	font-weight:normal!important;
}

#mainArticle #AZlist {
	margin-left:0;
}

#mainArticle #AZlist li {
	display:inline;
	list-style-type:none;
	margin-left:10px;
}

#mainArticle .AZlist {
	margin-left:0;
}

#mainArticle .AZlist li {
	display:inline;
	list-style-type:none;
	margin-left:10px;
}

#mainArticle #AZtable a .backlink {
	color:#000;
	font-weight:bold;
	font-size:80%;
	font-style:italic;
}

#mainArticle #AZtable a:hover .backlink {
	color:#FFF;
}


	
/* ============================== */
/* ! ARCHIVE PAGE NAVIGATION */
/* ============================== */
#mainContent #mainArticle .navigation {
	display:block;
	margin:20px 0;
}

#mainContent #mainArticle .navigation .prev-posts a,
#mainContent #mainArticle .navigation .next-posts a {
	background:#05668D;
	color:#FFF;
	padding:10px 0;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:1;
	padding-left:10px;
	padding-right:10px;
}

#mainContent #mainArticle .navigation .prev-posts a:hover,
#mainContent #mainArticle .navigation .next-posts a:hover {
	background:#993400;
	color:#FFF;
}


/* ============================== */
/* ! WP STYLES */
/* ============================== */

.widget {
	margin-bottom:20px;
}

.alignright {
	float:right;
	margin:10px;
}

.alignleft {
	float:left;
	margin:10px;
}

.wp-caption {
	background-color:#F3F3F3;
	border:1px solid #CCC;
	border-radius:3px 3px 3px 3px;
	margin:10px;
	padding-top:4px;
	text-align:center;
	box-shadow:1px 1px 4px #CCC;
	max-width:100%;
}

.wp-caption p.wp-caption-text {
	font-size:9px!important;
	line-height:12px!important;
	margin:.6em 0 0;
	padding:0 4px 5px;
}

.clear {
	clear:both;
}

.entry {
	clear:both;
}

.entry-thumbnail {
	float:right;
}

.entry-thumbnail img {
	border:2px solid #fcfcfc;
	margin-left:10px;
}

.menu {
	background:url(img/common/white45.png) repeat;
	padding:0 10px;
}

.menu li {
	width:95%;
	outline:none;
	cursor:pointer;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:normal;
	position:relative;
}

.menu li a {
	border-bottom:1px dotted #AAAAAA;
	color:#05668D;
	display:block;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	padding:10px 0 10px 5px;
	text-decoration:none;
}

.menu li:hover a,
.menu li:hover a:hover,
.current-menu-item a {
	margin-left:2px;
	color:#993400!important;
}

.menu li:active {
	top:1px;
}

.menu li:active a {
	left:3px;
	top:1px;
}

.menu li:last-child a {
	border-bottom:none!important;
}

.tagcloud {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ============================== */
/* ! IN THE NEWS  */
/* ============================== */
.homeNews {
	background:url(img/common/white45.png) repeat;
	padding:10px;
	overflow:auto;
	display:block;
}

.homeNews h4 {
	font-family:Verdana, sans-serif;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	color:#353535;
	padding-bottom:4px;
}

.homeNews h4 a {
	text-decoration:none;
	text-shadow:0 1px 0 #FFF;
	display:block;
	color:#353535;
}

.homeNews h4 a:hover {
	color:#993400;
}

#primaryNews p,
.secondaryNews p {
	font-family:Helvetica, Arial, sans-serif;
	font-weight: normal;
}

#primaryNews p.scoop {
	padding-bottom:5px;
	overflow:auto;
}

.homeNews p.scoop a {
	text-decoration:none;
}

.homeNews p.scoop a span {
	background:#ccc;
	padding:2px 6px;
	color:#333;
	text-decoration:none;
	border-top:2px solid #993400;
}

.homeNews p.scoop a span:hover {
	background:#333;
	color:#FFF;
	text-decoration:none;
}

#primaryNews .newsImg img {
	border:2px solid #b9b9b9;
	float:left;
	margin:0 15px 2px 0;	
	/*width:43%;*/
}

#primaryNews p.scoop img.scoopLogo {
	padding-right:20px;
	border:none;
	float:left;
}

.secondaryNews {
	padding:10px;
}

.secondaryNews .newsImg img {
	border:1px solid #b9b9b9;
	float:left;
	margin:0 15px 2px 0;
}

#separatorid.white45, #separatorid2.white45 {
	padding-top:0;
	padding-bottom:0;
	margin:0;
	clear:both;
}

.news-separator {
	border:none;
	border-top:2px groove #FFFFFF;
	margin:0;
	padding:0;
}


/* ============================== */
/* ! UTP Promo */
/* ============================== */
#rightDiv {
	border-top:10px solid #656565;
}

#utpPromo {
	margin-top:3px;
	border-top:4px solid #bd6122;
	background:url(img/common/white45.png);
	padding:10px;
}

#utpPromo p {
	font-family:'Helvetica Neue', Helvetica, Arial,sans-serif;
	font-size:13px;
	line-height:1.4;
	font-weight: normal;
}

#utpPromo a img.utpsprite {
	opacity:.9;
}

#utpPromo a img.utpsprite:hover {
	opacity:1;
}


/* LIGHT BUTTON */
#mainContent p.lightBtn {
	width:45%;
	clear:both;
	margin:10px 0;
	cursor:pointer;
	padding:5px 10px;
	opacity:.75;
}

#mainContent p.lightBtn:hover {
	opacity:1;
}

#mainContent p.lightBtn a {
	text-decoration:none!important;
}

/*DOWNLOAD SECTION*/
#downloadSection li,
.downloadSection li {
	background:url(img/common/white45.png);
	text-align:center;
	margin:0 0 20px;
	padding:5px;
	font-weight:bold;
	font-size:11px;
	font-family:Verdana, sans-serif;
	color:#05668D;
}

#downloadSection li a img {
	display:block;
}

#downloadSection li a,
.downloadSection li a {
	text-decoration:none;
	color:#05668D;
	opacity:.85;
	background:none!important;
}

#downloadSection li a:hover,
.downloadSection li a:hover {
	opacity:1;
}

#downloadSection li span,
.downloadSection li span {
	font-size:11px;
	font-weight:normal;
}

/*GRAPHICAL LINKS */
#buttonLinks li {
	position:relative;
	margin:20px 0;
	line-height:14px;
	min-height:35px;
}

#buttonLinks li a {
	margin:0;
	letter-spacing:.3px;
}

#buttonLinks li a small {
	font-size:11px;
	font-weight:normal;
}

#buttonLinks li span.feedback {
	display:block;
	padding-left:95px;
}

#buttonLinks li span.feedbackline2 {
	display:block;
	padding-left:15px;
	padding-top:20px;
}

#buttonLinks li span.calendarTxt,
span.calendarTxt {
	display:block;
	padding-left:90px;
	line-height:normal;
}

#buttonLinks li span.dnaTxt {
	display:block;
	padding-left:95px;
}

#buttonLinks li span.msitTxt {
	display:block;
	padding-left:10px;
}

img.envelopeinButton {
	position:absolute;
	top:-15px;
	left:5px;
}

img.calendarinButton {
	position:absolute;
	top:-10px;
	left:0;
}

img.calendarinhomeButton {
	position:absolute;
	top:-18px;
	left:0;
}

img.dnainButton {
	position:absolute;
	left:5px;
	top:0;
}

img.computerinButton {
	position:absolute;
	right:5px;
	top:-15px;
}

/*PRE FOOTER */
#preFooter {
	background:url(img/common/prefooter-bg.jpg) repeat;
	border-top:1px solid #666666;
	border-bottom:1px solid #FFF;
	font-family:Verdana, sans-serif;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
	/*margin-top:20px;*/
	overflow:auto;
}

#preFooter h2 {
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	text-shadow:0 1px 1px #555;
	border-bottom:1px solid #3c3c3a;
	margin-bottom:15px;
	padding:15px 0;
}

#preFooter h2 a {
	color:#FFF;
	text-decoration:none;
}

#preFooter h2 a:hover {
	color:#000;
	text-shadow:none;
}

#preFooter li {
	color:#FFFFFF;
	font-size:11px;
	line-height:22px;
}

#preFooter li a {
	color:#FFFFFF;
	text-decoration:none;
	padding:2px;
}

#preFooter li a:hover,
#preFooter li.current-menu-item a {
	background:#ABABAE!important;
	color:#333;
}

#preFooter address {
	background:url(img/icons/envelope-small.png) no-repeat left 4px;
	color:#FFFFFF;
	font-size:11px;
	line-height:18px;
	/*margin-left:12%;*/
	padding-left:22px;
	margin-left:1.9em;
}

#preFooter #utcontactInfo h1 {
	border-bottom:none;
	padding:10px 0;
}

#quickLinks li {
	width:50%;
	float:left;
}

.footericon {
	position:relative;
	top:3px;
	padding-right:5px;
}

/* ========================================= */
/*  CALENDAR */
/* ========================================= */

/*HOMEPAGE CALENDAR */
.eventDate {
	background:url(img/common/calendardate-bg.png) no-repeat center top;
	height:49px;
	width:21%;
	text-align:center;
	position:relative;
	clear:both;
	float:left;
	margin-top:20px;
}

.eventDate span.month {
	display:block;
	text-transform:uppercase;
	color:#FFF;
	text-shadow:0 1px 1px #000;
	font-weight:bold;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	letter-spacing:.5px;
	line-height:normal;
	font-size:12px;
}

.eventDate span.day {
	display:block;
	font-size:26px;
	color:#3e3e3e;
	text-shadow:0 1px 1px #FFF;
	font-weight:bold;
	padding:4px 0 0;
	letter-spacing:-.5px;
}

.eventDetails {
	display:block;
	float:left;
	width:75%;
	line-height:.75em;
}

/*.eventListing{
	margin-top:10px;
} */

.eventListing li {
	margin-bottom:20px;
	font-family:Verdana, sans-serif;
	background:url(img/common/white45.png) repeat;
	padding:10px 0;
	overflow:hidden;
}

.eventListing li a {
	text-decoration:none;
	display:block;
	color:#666;
}

.eventListing li:hover {
	background:url(img/common/white80.png) repeat;
	cursor:pointer;
}

.event-series {
	font-size:.65em;
	color:#333;
	font-weight:bold;
}

.event-organizer {
	font-size:.65em;
}

.event-title {
	font-size:.75em;
	font-weight:bold;
	color:#05668d;
	display:block;
	padding-top:5px;
	line-height:1.2;
	padding-bottom:3px;
}

.event-venue,.event-date {
	font-size:.65em;
	color:#b86647;
	font-weight:bold;
}

.event-content {
	font-size:.65em;
	display:block;
	line-height:1.6em;
	padding-top:5px;
}

.event-content a {
	float:left;
	margin:0;
	padding:0;
	border:none;
	background:none;
}

.eventListing li ul#event-calendar-links {
	width:75%;
	margin-left:5%;
}

#calendarPage .eventDate {
	width:21%;
}

#calendarPage .eventDetails {
	width:75%;
}

#calendarPage .tribe-events-month-nav {
	position:relative;
}

#calendarPage .tribe-events-prev-month {
	float:left;
	width:20%;
}

#calendarPage .tribe-events-next-month {
	float:right;
	width:20%;
}

#calendarPage #tribe-events-events-picker {
	width:60%;
	float:left;
	margin:0 auto;
	text-align:center;
}

#calendarPage .currentMonth {
	display:block;
	font-weight:bold;
	font-size:2em;
	text-align:center;
	color:#993400;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	padding:0 0 .25em 5px;
	text-shadow:0 1px 1px #FFFFFF;
}

#eventsSection p a {
	font-family:Verdana, sans-serif;
}

p.simple-events-link {
	font-size:13px;
	margin-bottom:15px;
}

#calendarPage #eventsSection {
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

#submissionCriteria p {
	font-size:13px;
	padding:0 0 10px;
	line-height:19px;
}
/*#icalHolder, 
#submissionCriteria, 
#upcomingThree{ margin-bottom:20px; overflow: auto;}
*/

#calendar-single-nav li{
	margin-bottom:10px;
}

.google-map-button{ 
	display:block; 
	width:35%; 
	margin-top:10px;
}

.socialset{
	margin-bottom: 1px;
}

/* ========================================= */
/* CSS3 BUTTON with plain color Rollback  */
/* ========================================= */
.css3button a{
	position: relative;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	padding:10px 4px 10px 7px;
	text-shadow: 0px 1px 1px #000;
	background: #482007;
	background: -moz-linear-gradient(top, #d7a181 0%, #71320b 2%,#482007);
	background: -webkit-gradient( linear, left top, left bottom, from(#d7a181), color-stop(0.2, #71320b), to(#482007));
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #752900;
	-moz-box-shadow: 0px 1px 2px rgba(000,000,000,0.2);
	-webkit-box-shadow: 0px 1px 2px rgba(000,000,000,0.2);
	cursor: pointer;
	display: block;
	color: #ffffff !important;
	text-decoration: none;
	/*text-shadow: 0px 1px 0px #000000;*/
}

.css3button a:hover, 
li.selected{
	background: #722301;
	background: -moz-linear-gradient(top, #d7a181 0%, #ae3f03 2%, #722301);
	background: -webkit-gradient(linear, left top, left bottom, from(#d7a181),color-stop(0.2, #ae3f03),to(#722301));
	color: #FFF !important;
	cursor: pointer;
}

.css3button a:hover{
	left:1px;
}

.css3button a:active{
	left: 1px;
	top:1px;
}

/*LISTS*/
.linkfarm {
	padding-top:20px;
	overflow:auto;
}

.linkfarm li {
	font-family:Verdana, sans-serif;
	font-size:12px;
	line-height:20px;
	margin-bottom:20px;
}

.linkfarm li a {
	display:block;
	text-decoration:none;
	color:#000;
	text-shadow:0 1px 0 #FFF;
	background:#d5cea6;
	padding:3px 5px;
	border-radius:3px;
	border:1px solid #b4ac7e;
	position:relative;
}

.linkfarm li a:hover {
	background:#ad3f03;
	color:#FFF;
	text-shadow:0 1px 1px #000;
	border-color:#752900;
	top:1px;
	left:1px;
}

.linkfarm li a:active {
	top:2px;
}

.linkcloud li {
	float:left;
	margin-right:20px;
}

.blogroll,
#mainArticle .blogroll {
	padding:10px 10px 0;
	margin-bottom:20px;
	overflow:auto;
	/* background:url(img/common/white45.png) repeat;*/
	margin-left:0;
}

.blogroll li,
#mainArticle .blogroll li {
	font-family: Verdana, sans-serif;
	font-size:11px;
	line-height:20px;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
	list-style-type:none;
	margin-left:0!important;
}

.blogroll li a,#mainArticle .blogroll li a {
	text-decoration:none;
	color:#000;
	text-shadow:0 1px 0 #ECECEC;
	background:#d5cea6;
	border-radius:3px;
	border:1px solid #b4ac7e;
	position:relative;
	padding:2px 5px;
	font-size:100%;
}

.blogroll li a:hover,
#mainArticle .blogroll li a:hover {
	background:#ad3f03;
	color:#FFF;
	text-shadow:0 1px 0 #000;
	border-color:#752900;
	top:1px;
	left:1px;
}

.blogroll li a:active,
#mainArticle .blogroll li a:active {
	top:2px;
}

.leftBoxes {
	margin-bottom:20px;
}

.highlight {
	background:#FFFFCC;
	color:#333;
	padding:5px 5px 5px 10px;
	margin-bottom:15px;
	border-top:2px solid #FFD324;
	border-bottom:2px solid #FFD324;
}

a[href^="mailto:"], 
a[href$=".pdf"], 
a[href$=".doc"], 
a[href$=".xls"], 
a[href$=".rss"], 
a[href$=".rdf"], 
a[href^="aim:"] { 
	background-position: 97% center !important; 
	background-repeat: no-repeat !important; 
	margin: -2px 0; 
	padding: 2px 30px 2px 5px !important;
}

a[href$=".pdf"] {  
	background-image: url("img/icons/pdf.png") !important;
}

a[href^="mailto:"] {  
	background-image: url("img/icons/email.png") !important;
}

a[href$=".xls"] {  
	background-image: url("img/icons/excel.png") !important;
}

a[href$=".doc"] {  
	background-image: url("img/icons/doc.png") !important;
}

/* ASIDES */

#accreditation{ 
	padding: 10px;
}

/* ============================== */
/* !            UTPRO             */
/* ============================== */

#mainContent #utpro-section{ 
	margin-bottom:15px; 
}

#utproentry p{ 
	font-family: "Times New Roman", Times, serif; 
	font-size: 16px; 
	font-style: italic;
}

#utproentry p.size125{ 
	font-size: 125%; 
	padding-bottom: 15px; 
	padding-top:15px;
}

/* ============================== */
/* !     TOGGLE SHORTCODE         */
/* ============================== */
h3.trigger {
	margin:0!important;
	font-size:18px;
	background-image:url(img/shortcodes/toggle-plus.png);
	background-position:5px center;
	background-repeat:no-repeat;
}

h3.trigger:hover {
	background-color:#ececec;
}

h3.trigger a {
	color:#333;
	text-decoration:none;
	display:block;
	padding-left:30px;
}

h3.trigger a:hover {
	color:#993400;
	text-decoration:none;
}

h3.active {
	background-image:url(img/shortcodes/toggle-minus.png)!important;
	background-color:#ececec;
	background-position:5px center;
	background-repeat:no-repeat;
}

h3.active a {
	color:#993400;
}

h3.toggle-white {
	background-color:#FFF;
}

h3.toggle-gray {
	background-color:#F5F5F5;
}

.toggle_container {
	overflow:hidden;
	padding:0 10px 0 30px;
}

/* ============================== */
/* !     SEARCH FORM/RESULTS/PAGINATION       */
/* ============================== */
#s{ 
	width:95%;
}

.search-excerpt{ 
	font-weight: bold; 
	background:#FFFFCC; 
	padding-left:5px; 
	padding-right:5px;
}

#mainArticle .search-result-entry{ 
	margin-bottom:15px;
}

ul.page-numbers {
  list-style: none;
  margin: 1em auto;
  padding: 0;
  text-align: center;
  color: #555555;
  text-transform: uppercase;
  font-size: 90%;
  font-family: "Helvetica", Arial, sans-serif;
}

ul.page-numbers li {
	display: inline; 
	margin-left:0px;
	font-weight: bold;
}

ul.page-numbers a.page-numbers {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: #676767;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#f9f9f9, #eaeaea);
  background-image: -moz-linear-gradient(#f9f9f9, #eaeaea);
  background-image: -o-linear-gradient(#f9f9f9, #eaeaea);
  background-image: linear-gradient(#f9f9f9, #eaeaea);
  border:none;
  margin: 2px;
  padding: 5px 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  text-decoration: none !important;
  color: #555555 !important;
  font-size: smaller !important;
  text-shadow: white 0px 1px 0;
}

ul.page-numbers a.page-numbers:first-child, 
ul.page-numbers a.page-numbers.first {
	margin-left: 0;
}

ul.page-numbers a.page-numbers:last-child, 
ul.page-numbers a.page-numbers.last {
	margin-right: 0;
}

ul.page-numbers a.page-numbers:hover, 
ul.page-numbers a.page-numbers:focus {
  color: #333333;
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#fefefe, #fafafa);
  background-image: -moz-linear-gradient(#fefefe, #fafafa);
  background-image: -o-linear-gradient(#fefefe, #fafafa);
  background-image: linear-gradient(#fefefe, #fafafa);
}

ul.page-numbers a.page-numbers.more {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px none !important;
  background: transparent !important;
  margin-left: 0;
  margin-right: 0;
}

ul.page-numbers a.page-numbers.active {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  border-color: #505050px !important;
  color: #f2f2f2 !important;
  text-shadow: black 0px 1px 0;
  background-color: #676767;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f5f5f), color-stop(100%, #5c5c5c));
  background-image: -webkit-linear-gradient(#5f5f5f, #5c5c5c);
  background-image: -moz-linear-gradient(#5f5f5f, #5c5c5c);
  background-image: -o-linear-gradient(#5f5f5f, #5c5c5c);
  background-image: linear-gradient(#5f5f5f, #5c5c5c);
}

ul.page-numbers .prev:before {
	content: "\2039"; 
	padding-right: 0.5em;
}

#mainArticle ul.page-numbers .next:after {
	content: "\203A"; 
	padding-left: 0.5em;
}

ul.page-numbers .dots {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px none !important;
  background: transparent !important;
  color: #999999 !important;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

ul.page-numbers .current {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: #676767;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f5f5f), color-stop(100%, #5c5c5c));
  background-image: -webkit-linear-gradient(#5f5f5f, #5c5c5c);
  background-image: -moz-linear-gradient(#5f5f5f, #5c5c5c);
  background-image: -o-linear-gradient(#5f5f5f, #5c5c5c);
  background-image: linear-gradient(#5f5f5f, #5c5c5c);
  margin: 2px;
  padding: 5px 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  text-decoration: none !important;
  font-size: smaller !important;
  border-color: #505050 !important;
  color: #f2f2f2 !important;
  text-shadow: black 0px 1px 0;
}

ul.page-numbers li .next{ 
	float: none !important;
}

/* ============================== */
/* !     SINGLE.PHP         */
/* ============================== */
.scoopLink{ 
	position: relative; 
	width:270px; 
	height: 32px; 
	background: rgba(255, 255, 255, .45); 
	padding-left:10px; 
	padding-right:10px; 
	margin-bottom:10px;
	clear: both;
}

#mainArticle .scoopLink p {
	padding:5px 0 0;
	margin:0;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}

.scoopLink p a {
	font-family:10px;
	font-weight:bold;
	text-decoration:none;
}

.scoopLink p a img {
	position:absolute;
	top:0;
	right:5px;
}


#mainArticle .gform_wrapper .gfield_required {
	color:#FF0000!important;
	font-size:125%;
}

#mainArticle #gform_wrapper_33 .pilotHtml {
	font-size:90%;
	font-style:italic;
	background:url(img/common/white45.png) repeat;
	padding:10px;
}

/* ========================================= */
/*	New Styles for News
/* ========================================= */

#above-the-fold{
	border-bottom: 1px dashed #0e6c9d;
	padding-top:20px;
	padding-bottom: 20px;
	background: #FFF;
}

#below-the-fold{
	/*background: #ececec;*/
	padding-top:20px;
}


#main-news-story{
	border-bottom: 1px dashed #CCC;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

#main-news-story img{
	float: left;
	margin-right:15px;
	border:2px solid #ccc;
}

.main-featured-image{
	float: left;
	margin-right: 20px;
	display: block;
}

.big-header{
	font-family: "adelle",serif;
	font-size: 28px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -1px;
	color: #0e6c9d;
	padding-bottom: 10px;
	
}

.big-header a{
	color: #0e6c9d;
	text-decoration: none;
	line-height: 1.167;
	
}

.news-list{
	clear: both;
}

.news-list li{
	border-bottom: 1px dashed #CCC;
	padding: 15px 0px;
	clear: both;
	overflow: auto;
}

.news-list li h2,
.wildartarchive li h2{
	font-family: "adelle", serif;
	font-size: 18px;
	line-height: 1.167;
	font-weight: 700;
	border-bottom: none;
	text-shadow: none;
	padding-left: 0;
	padding-bottom: 5px;

}

.news-list li img{
	float: left;
	margin-right:15px;
	border:2px solid #ccc;
}


.news-list li:last-child{
	border-bottom: none;
}

.news-list li p.tags{
	font-size: 11px;
}

.news-list li p.tags a{
	background: #BBEBFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	padding: 0px 7px;
	display: block;
    float: left;
    margin: 2px;
	color: #666;	
}

.news-list li p.tags a:hover{
	background:#39ABE7;
	color: #FFF;
}

.newsarchive li{
	padding: 5px 0px;
}


/**** Comment Bubble Icons *****/
/*.comment-number:after {
    border-color: transparent #FFFFFF;
    border-style: solid;
    border-width: 0 0 14px 43px;
    bottom: -14px;
    content: "";
    position: absolute;
    right: 85px;
}
.comment-number:before {
    border-color: transparent #990000;
    border-style: solid;
    border-width: 0 0 14px 14px;
    bottom: -14px;
    content: "";
    position: absolute;
    right: 0;
}*/

.comment-number {
    background: none repeat scroll 0 0 #C91F2C;
    color: #FFFFFF;
    font-family: Georgia, serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
    height: 22px;
    position: relative;
    text-align: center;
    width: 103px;
}

.comment-quote{
	font-size: 14px;
	font-family: Georgia, serif;
}

.footer_comm_author{
	color: #333333;
    font-weight: bold;
    text-transform: capitalize;
}
/* */

#main-news-story p, 
.news-list li p{
	font-family: "adelle", serif;
	font-weight: 400;
	font-size:13px;
	line-height: 1.3;
	padding-bottom: 15px;
}
#main-news-story p.readmore, 
.news-list li p.readmore{
	padding-bottom:0;
}

.news-list h1 a{
	text-decoration: none;
	color: #464646;
}
.news-list h2 a{
	text-decoration: none;
	color: #464646;
}

.big-header a:hover,
.news-list h1 a:hover,
.news-list h2 a:hover{
	color: #39abe7;
}

.wild-art-section{
	background: #464646;
	padding: 10px 10px 10px 15px;
	color: #FFF;
	margin-bottom: 20px;
}

.wild-art-section img{
	border: 1px solid #666;
}

.wild-art-section img:hover{
	border: 1px solid #000;
}

.wild-art-section p{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.2;
	padding: 0;
	margin: 0;
}

ul.wild-art-section {
	margin-bottom: 0px;
}

ul.wild-art-section li {
	position: relative;
}

.news-bottom{
	background: #CCC;
}

ul.wild-art-section-bottom {
	display: block; 
	background: #cccccc;  
	color: white; 
	margin-bottom: 20px; 
	position: relative; 
	float: left; 
	width: 100%;
}

ul.wild-art-section-bottom li {
	position: relative; 
	display: block; 
	float: left; 
	margin: 5px 0px 5px 10px;
}

/*ul.wild-art-section-bottom li:first-child {
	position: relative; 
	display: block; 
	float: left; 
	margin: 5px 0px 5px 8px;
}*/

.wild-art-section #wild-art-feature{
	position: relative;
}

/*
.wild-art-section #wild-art-feature .gallery-flag {
	float: right; 
	position: absolute; 
	z-index: 100; 
	padding-top: 15px; 
	padding-left: 20px; 
	display: block; 
	top: 60px; 
	right: -5px; 
	width: 118px; 
	height: 30px; 
	background: url(img/icons/gallery-flag.png) top left no-repeat; 
	text-align: left; 
	font-size: 13px;
}*/


.gallery-flag,
.wild-art-section #wild-art-feature .gallery-flag {
	float: right; 
	position: absolute; 
	z-index: 100; 
	padding-top: 15px; 
	padding-left: 20px; 
	display: block; 
	top: 60px; 
	right: -5px; 
	width: 118px; 
	height: 30px; 
	background: url(img/icons/gallery-flag.png) top left no-repeat; 
	text-align: left; 
	font-size: 13px;
	color: #FFF;
	text-decoration: none;
}

.wild-art-section #wild-art-feature .gallery-flag:hover{
	color: #ccc;
}

p.wild-art-byline{
	text-align: right;
	padding-top:5px;
}

.wildartarchive a h2{
	color: #FFF;
	text-decoration: none !important;
}

.wildartarchive a:hover h2{
	color: #39ABE7;
}

.wildartarchive{
	overflow: auto;
}

.wildartarchive li{
	display: block;
	float: left;
	/*width:200px;*/
	width:33%;
	margin-bottom:10px;	
}

.wildartsidebar li{
	display: block;
	float: left;
	/*width:200px;*/
	width:50%;
	margin-bototm:10px;	
}


p.section-headline{
	text-transform: uppercase;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
}

p.section-headline strong{
	font-weight: 600;
}

p.section-headline a{
	text-decoration: none;
}

.single #slider{
	margin:0px 0px 30px 0px !important;
}

/* ========================================= */
/*	IN MEMORIAM / SPOTLIGHT / UTMOST / TIPS4U
/* ========================================= */

.in-memoriam{
	background: #414141;
	color: #FFF;
	padding: 10px 20px;
	display: block;
	border-top:3px solid #0e6c9d;
	margin-bottom: 20px;
}

.utmost{
	background: #666666;
	color: #FFF;
	padding: 10px 20px;
	display: block;
	border-top:3px solid #0e6c9d;
	margin-bottom: 20px;
}

.tips4u{
	background: #ececec;
	color: #333;
	padding: 10px 20px;
	display: block;
	border-top:3px solid #a94004;
	margin-bottom: 20px;
}

.in-memoriam h1{
	color: #FFF;
	font-family: "bickham-script-pro";
	letter-spacing: .5px;
	font-weight: 400;
	font-size: 50px;
}

.in-memoriam h2{
	font-family: "adelle", serif;
	font-size: 22px;
	line-height: 1;
	color: #FFF;
	font-weight: 700;
	padding-bottom:5px;
	text-shadow: none;
	border-bottom: none;
}

.in-memoriam h2 a{
	color: #FFF;
	text-decoration: none;
}

.in-memoriam h2 a:hover{
	color: #39abe7;
}

.in-memoriam img{
	border: 5px solid #000;
	float: left;
	margin-right: 10px;
}

.in-memoriam p,
.in-the-spotlight p,
.utmost p,
.tips4u p{
	font-family: Verdana;
	font-size: 11px;
	padding-bottom: 10px;
	line-height: 1.2;
}

.in-memoriam p a{
	text-decoration: none;
	color: #39abe7;
}

.in-memoriam p a:hover{
	color: #FFF;
}

.in-the-spotlight{
	background: #cccccc;
	padding: 10px 20px;
	border-top:3px solid #0e6c9d;
	margin-bottom: 20px;
	
}

.in-the-spotlight h1{
	color: #a94004;
	font-family: "bickham-script-pro";
	letter-spacing: .5px;
	font-weight: 400;
	font-size: 50px;
}

.in-the-spotlight h2{
	font-family: "adelle", serif;
	font-size: 22px;
	line-height: 1;
	color: #0e6c9d;
	font-weight: 700;
	padding-bottom:5px;
	letter-spacing: -.25px;
}

.in-the-spotlight h2 a{
	text-decoration: none;
	color: #0e6c9d;
}

.in-the-spotlight p a{
	text-decoration: none;
	color: #a94004;
}

.in-the-spotlight p a:hover{
	color: #0e6c9d;
}


.utmost h1{
	font-size: 28px;
	font-family: "adelle", serif;
	color: #FFF;
	font-weight: 500;
	padding-bottom: 5px;
}

.utmost a{
	color: #FFF;
}

.tips4u h1{
	font-size: 18px;
	font-family: "adelle", serif;
	color: #0e6c9d;
	font-weight: 600;
	padding-top:5px;
	padding-bottom: 5px;
}


/* ========================================= */
/*	Tab Styles
/* ========================================= */

.news-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
	}

.news-tabs {
	background: none;
	margin: 0 0 2em 0;
	}

.news-tabs ul.news-tabs-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
	}

.news-tabs ul.news-tabs-nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0!important;
	z-index: 10;
	list-style: none!important;
	font-family: "adelle";
	font-size: 13px;
	font-weight: 600;
	}
	

.news-tabs ul.news-tabs-nav li a {
	border: 1px solid #dfdfdf!important;
	border-bottom: none!important;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 20px;
	background: #FBFBFB;
	margin: 0!important;
	text-decoration: none;
	color: #373737!important;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
	}
	
.news-tabs ul.news-tabs-nav li a:hover {
	background: #b0e7fe!important;
	margin: 0!important;
	}

.news-tabs ul.news-tabs-nav li.ui-tabs-active a {
	height: 21px;
	background: #b0e7fe;
	}

.news-tabs .news-tabs-panel {
	background: #fff;
	background: -moz-linear-gradient(top,  #b0e7fe 0%, #ffffff 33%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0e7fe), color-stop(33%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0e7fe 0%,#ffffff 33%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e7fe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	border: 1px solid #dfdfdf;
	font-family: "adelle", sans-serif;
	font-size: 13px;
	}
	
.news-tabs-panel a{
	color: #0e6c9d;
	text-decoration:none;
}

.news-tabs-panel a:hover{
	color: #39abe7;
}

.news-tabs-panel ol,
.news-tabs-panel ul{
	margin-left: 25px;
	color: #0e6c9d;
}

.news-tabs-panel ul li{
	list-style: disc;
	margin-bottom: 10px;	
	line-height: 1.2;
}

.news-tabs-panel ol li{
	list-style: decimal;
	margin-bottom: 10px;
}

.news-tabs-panel .tagcloud{
	/*overflow: auto;*/
	font-family: 'adelle', 'helvetica', Arial, sans-serif;
}

.news-tabs-panel .tagcloud a{
	margin-right:5px;
	/*margin-bottom: 5px;
	padding: 0px 5px;
	border-radius: 4px;
	background: #efefef;*/
	/*display: block;
	float: left;*/
	line-height: 1.6;
	text-decoration: underline;
}

.news-tabs-panel .tagcloud a:hover{
	color: #000;
}


.tabs-clearfix:before,.tabs-clearfix:after {
	content:"";
	display:table;
}

.tabs-clearfix:after {
	clear:both;
}

.tabs-clearfix {
	zoom:1;
	/* For IE 6/7 (trigger hasLayout) */
}

/* ========================================= */
/*	Scoop Subscription
/* ========================================= */

#scoop-subscription{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #dadbdd;
	border-radius: 5px;
	border: 1px solid #fff;
	text-shadow: 0px 1px 0px #FFF;
	padding: 10px 20px;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 20px;
	
}

#scoop-subscription a{
	text-decoration: none;
	color: #0e6c9d;
}

#scoop-subscription a:hover{
	color: #39abe7;
}

.scoop-logo{
	font-family: century gothic, sans-serif;
	font-size: 38px;
	color: #0e6c9d;
	text-transform: lowercase !important;
	text-shadow: 0px 0px 5px #888;
	display: inline;
}

.scoop-logo-small{
	font-size: 20px;
	text-transform: lowercase !important;
	text-shadow: 0 1px 1px #888;
}
/* ========================================= */
/*	News of Note
/* ========================================= */

#news-of-note{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	border-radius: 5px;
	text-shadow: 0px 1px 0px #FFF;
	padding: 20px 20px 10px 20px;
	line-height: 1.2;
	border: 1px solid #E8E8E8;
	font-family: "adelle", serif;
	margin-bottom: 20px;
	
	background: #CDCDCD; /* Old browsers */
	background: -moz-linear-gradient(top,  #b0e7fe 0%, #ffffff 20%, #CDCDCD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0e7fe), color-stop(20%,#ffffff), color-stop(100%,#CDCDCD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0e7fe 0%,#ffffff 20%,#CDCDCD 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e7fe', endColorstr='#CDCDCD',GradientType=0 ); /* IE6-9 */

}

.news-of-note-list{
	margin-top:15px;
	margin-bottom:20px;
}

.news-of-note-list h1{
	font-size: 16px;
	letter-spacing: 0px;
}

.news-of-note-list li{
	font-size: 13px;
	margin-left: 25px;
	color: #0e6c9d;
	list-style: disc;
	margin-bottom: 10px;	
}

.news-of-note-list li p{
	color: #333;
}
#news-of-note a{
	color: #0e6c9d;
	text-decoration: none;
}

#news-of-note a:hover{
	color: #39abe7;
}

#news-of-note hr{
	height: 16px;
	display: block;
	background: url(img/news/hr-non.png) no-repeat center center;
	border: none;
	outline: none;
}

#news-of-note-subscription p{
	font-size: 18px;
	text-align: center;
	margin-bottom: 5px;
	letter-spacing: -.25px;
	padding: 0;
}

.nonarchive li h3{
	font-size: 12px;
}

/* ========================================= */
/*	Subscription Button
/* ========================================= */

.subscription-form {
	margin:10px 0px;
}

.ginput_container{ 
	/*float: left;*/
}

.subscription-email label{
	text-align: right;
	padding-top:2px;
}

.subscription-email label{
	text-align: right;
	padding-top:2px;
}

#gform_40 #input_40_1,
#gform_42 #input_42_1{
	width:175px;
}

#gform_40 #gform_submit_button_40,
#gform_42 #gform_submit_button_42{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 13px/100% Helvetica, Arial, sans-serif;
	padding: 5px 25px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #FFF;
	text-shadow: 0px 1px 0px #333;
	border: solid 1px #0076a3;
	background: #056086;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#056086));
	background: -moz-linear-gradient(top,  #00adee,  #056086);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#056086');
}

#gform_40 #gform_submit_button_40:hover,
#gform_42 #gform_submit_button_42:hover{
	text-decoration: none;
	background: #056086;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00adee));
	background: -moz-linear-gradient(top,  #0095cc,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00adee');
}

#gform_40 #gform_submit_button_40:active,
#gform_42 #gform_submit_button_42:active{
	position: relative;
	top: 1px;
	text-decoration: none;
	}
	
/* ========================================= */
/*	TWITTER STYLES
/* ========================================= */


#twitter{
	border: 1px solid #dfdfdf;
	margin-bottom: 20px;
}
.archive #twitter{
	background: #FFF;
	padding: 10px 20px;
}

.home #twitter{
	padding: 10px !important;
}

#tweet{ 
	clear: both;
}

#tweet li,
#tweet p{
	margin-bottom:10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.2;
}

#tweet li a{
	color: #0e6c9d;
	text-decoration: none;
}

#tweet li a:hover{
	color: #39abe7;
}

#tweet .tweet-time a{
	font-size: 80%;
	color: #a94004;
}

.twitter-avatar{
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	margin-bottom:10px;
}

.social-avatar{
	float: left;
	margin-right: 10px;
	margin-bottom:10px;
	width:35px;
	height:35px;
}

.addthis_toolbox{
	padding: 10px 0px;
}

/* ========================================= */
/*	Instagram
/* ========================================= */
.instagram{
	overflow: auto;
	margin-bottom: 20px;
	clear: both;
}

#instagram-holder{
	overflow: auto;
}



#instagram-holder a{
	display: block;
	float: left;
	margin-right: 10px;
	height: 90px;
	width: 90px;
}

#instagram-holder a:last-child{
	margin-right: 0;
}

#instagram-holder a img{
	border: 1px solid #FFF;
	height: 90px;
	width: 90px;
}

#instagram-holder a:hover img{
	border:1px solid #000;
}

/* ========================================= */
/*	FancyBox
/* ========================================= */
/*! fancyBox v2.1.2 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
/* ========================================= */
/*	Plain Page
/* ========================================= */

#plain-page #mainArticle{
	padding: 0;
	margin: 0;
}

#plain-page #mainArticle h1{
	font-size: 18px;
}

#plain-page #mainArticle ul, 
#plain-page #mainArticle ol{
	margin: 0;
	padding: 0;
}

#plain-page #mainArticle ul > li {
	margin: 0;
	padding: 0;
}

/* FOR CARLOS NEUROLOGY FORMS */

#plain-page #mainArticle #gform_fields_41 #input_41_10{
	width: 80%;
}

#plain-page #mainArticle #gform_fields_41 .textarea{
	width:80%;
}


/* Department Listing*/

#mainContent .department-list{
	margin:0;
	padding:0;
	list-style-type:none;
}
	
#mainContent .department-list li{
	display: block;
	list-style-type: none;
	border: none;
	
	
}

#mainContent .department-list li a{
	text-decoration: none;
	background: none;
	border:none;
	width:225px;
	height:50px;
	float: left;
	margin-right:20px;
	margin-bottom:20px;
	background: url("img/common/white45.png") repeat scroll 0 0 transparent;
	padding:5px 10px;
	border-top:2px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#mainContent .department-list li a:hover{
	border-top:2px solid #0e6c9d;
	background: #a94004;
}

#mainContent .department-list li a h2,
#mainContent .department-list li a p{
	padding-bottom: 0;
}

#mainContent .department-list li a span{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	display: block;
	color: #a94004;
	padding-bottom:4px;
	padding-top:5px;
	line-height: 1.2;
}

#mainContent .department-list li a:hover span{
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
}

#mainContent .department-list li a:hover{
	color: #FFF;
	border-bottom: none;
	left: 0px;
	top:0px;
}

/* ========================================= */
/*	VIDEO
/* ========================================= */
.video-frame {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.video-frame iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
	
	
/* ========================================= */
/*	Additional Classes
/* ========================================= */
strong {
	font-weight:bold;
}

small {
	font-size:80%;
}

.white,
.white a{ 
	color: #FFFFFF;
	}
	
.darkblue {
	color: #0e6c9d;
}

.lightblue{
	color: #39abe7;
}

.bold{
	font-weight: 700;
}

.utorange{
	color: #a94004;
}

/* ==================================== */
/*              SUPER NAVIGATION        */
/* ==================================== */
	.visuallyhidden { border:0; clip:rect(0000); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
	
	#superTop { width:100%; background:url(https://med.uth.edu/utms-universal/img/black65.png) repeat; border-top:3px solid #882d02; border-bottom:1px solid #000; position:fixed; width:100%; z-index:1000; }
	#superTop #superHolder { max-width:1140px; margin:0 auto; height: 30px; }
	
	#supernavRight { /*overflow:auto;*/ float:right; margin:3px 0px 0px 0px; padding:0 !important; }
	#supernavRight li { font-family:Helvetica, Arial, sans-serif; font-size:11px !important; text-transform:uppercase; float:left; list-style-type:none; color:#FFF; text-shadow:1px 1px 1px #000; line-height: 1;}
	
	#supernavRight li:last-child { margin:0; }
	#supernavRight li#insideUT { background:url(https://med.uth.edu/utms-universal/img/lock.png) no-repeat left 2px; padding-left:13px; margin-left: 5px; margin-right:5px; }
	#supernavRight li a { position:relative; padding:6px 5px; display: block; color: #FFF; text-decoration: none !important; font-style: normal !important; }
	#supernavRight li a:link,#superNavLeft li a:visited { color:#FFFFFF; text-decoration:none; font-style: normal !important; }
	#supernavRight li a:hover,#superNavLeft li a:active { color:#bd4f19; text-decoration:none; left:1px; font-style: normal !important; }
	#supernavRight li a:focus { color:#bd4f19; }
	#supernavRight li#search{ margin-top:5px;}
	#supernavRight li#search input {width:200px; }
		#supernavRight #gs{ border: none; outline: none; margin:0px; }
		#supernavRight #gs fieldset{ border: none; outline: none;}
		#supernavRight #gs fieldset { margin: 0px 0px 0px 0px;}
		#supernavRight #gs label{ color: #FFF;font-family:Helvetica, Arial, sans-serif; font-size:11px; }
		#supernavRight #gs input[type="text"]{ color: #333; margin-bottom: 0px; padding: 0px 3px; vertical-align: middle; font-size:11px; border-radius: 0px !important; height: 17px; border: 2px inset #CCC; display: block; float: left;}
		#supernavRight #gs .button{ font-size: 11px !important; display: block; float: left; margin-top:1px; margin-left: 2px; }
	
	#supernavLeft { width:40%; float:left; }
		
	
	#SOSdiv { background:#FFF000; width:100%; z-index:9999; position:fixed; top:38px; }
	#SOSdiv h1 { color:#FF0000; font-family:Helvetica, Arial, sans-serif; font-size:1em; text-shadow:0 1px 1px #FFF; padding-top:2px; padding-bottom:2px; text-transform:uppercase; font-weight:bold; }
	#SOSdiv p { font-family:Helvetica, Arial, sans-serif; font-size:.9em; color:#000; padding-bottom:2px; }
	
	.weatheralert{
		background: #ED9C28;
		width:100%;
		position: fixed;
		top:34px;
		z-index: 1000;
	}
	
	.weatheralert p{
		margin: 0;
		padding: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-size: 14px !important;
		line-height: 1.8;
		color: #FFF;
		text-align: center;
		
	}
	
	.weatheralert .alert-sign{
		font-size: 24px;
		line-height: 24px;
	}
	
	.weatheralert p a{
		color: #FFF;
		font-style: italic;
	}

	/* ==================================== */
	/*              SUPER CREDITS           */
	/* ==================================== */
	
	#credits{ width:100%; padding-bottom: 20px; padding-top:3px; overflow: auto;}
	#creditsHolder{ max-width: 1140px; margin:0px auto;}
	#credits li{ font-family: Verdana, sans-serif; color: #000; font-size: 11px; line-height: 20px; list-style-type: none; padding-left:5%;}
	#credits li a{ color: #000; text-decoration: none; padding: 2px;}
	#credits li a:hover{ background: url(https://med.uth.edu/utms-universal/img/black50.png); color: #FFF; border-top:2px inset #bd6122;}
	#credits span.supercopyright{ font-weight: bold; color: #BD6122; text-shadow: 0px 1px 0px #FFF;}
	.hide{ display: none;}
	#credit-column1 {width: 30.75%; margin-right:3.8%; float: left; margin:0; padding:0;}
	#credit-column2 {width: 22.05%; margin-right:3.8%; float: left; margin:0; padding:0;}
	#credit-column3 {width: 39.05%; margin-right:0; float: left; margin:0; padding:0;}


/*BUTTONS*/
h2.nounderline{
	border-bottom: none;
	margin-bottom: 15px;
	font-weight: normal;
}

h2.nounderline.subordinate{
	margin-left:5px !important;
}

h2.subordinate a.btn{
	font-size: 12px !important;
	
}

a.btn{
	background: #d5cea6;
	border: 1px solid #b4ac7e;
	border-radius: 4px;
	padding: 8px 5px 8px 10px;
	display: block;
	text-decoration: none;
	color: #000;
	text-shadow: 0 1px 0 #ECECEC;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal.
}

a.btn:hover{
		background: #ad3f03;
		color: white;
		border-color: #752900;
		text-shadow: 0 1px 0 #333;
	}
	
/* ========================================= */
/*  RESPONSIVE DESIGN */
/* ========================================= */

@media only screen and (max-width: 1023px) {
	#mainTitle #tierName { font-size: 60px;}
	.flex-caption p{font-family: Times New Roman, Times, serif; font-size: 18px; line-height: 28px;}
	#tabs-nav li{height: 45px;}
	#tabs-nav li a{font-size: 20px !important; line-height: 45px; padding-left:10%;}
	#tabs-nav #navuthscLink{ display: block; padding: 15% 0px 0px 11%;}	
}

@media handheld, only screen and (max-width: 767px) {
	
	.row, body, .container { width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }
	
	#pageTitle{ 
		padding-top:15px;
	}
	
	.flex-control-nav{display: none;}
	.flex-direction-nav{display: none;}
	.flex-pauseplay span{ display: none;}
	#mainLogo {    padding-top: 1.4em;}
	#vignette { display:none; }
	
	#missionNav li { font-size:15px; line-height: normal;}
	
	#mainTitle #tierName { font-size: 46px; line-height: 52px;}
	.flex-caption p{font-size: 12px; line-height: 22px;}
	#tabs-nav li{height: 24px;}
	#tabs-nav li a{font-size: 12px !important; line-height: 24px; padding-left:10%;}
	#tabs-nav #navuthscLink{ display: block; padding: 15% 0px 0px 11%;}	
}

@media only screen and (width : 1024px) and (orientation : landscape) {
	.eventDate{width:26%;}
	.eventDetails{ width:70%;}
	#tabs-nav #navuthscLink {padding: 5% 0px 0px 8%;}
}


@media only screen and (width : 768px) and (orientation : portrait) {
	
	#pageTitle{ 
		padding-top:15px;
	}
	
	.flex-caption p{font-size: 15px; line-height: 24px;}
	.flex-direction-nav li .prev { right: 21%;}
	.flex-caption p.css3button a {font-size: 11px; font-style: normal; line-height: normal; padding: 5px;}
	
	#tabs-nav {width:23%;}
	#tabs-nav #navuthscLink {padding: 5% 0px 0px 8%;}
	
	#linksResources li{width:100%;}
	
	#mainContent p.lightBtn{width:65%;}
	#buttonLinks .css3button a img{ display: none;}
	#buttonLinks li span.feedback,
	#buttonLinks li span.calendarTxt,
	#buttonLinks li span.dnaTxt{ padding-left:15px;}
	.eventDate{width:26%;}
	.eventDetails{ width:70%;}
}

@media only screen and (width : 480px) and (orientation : landscape) {
	body {	font-size: 16px; -webkit-text-size-adjust: none;	}
	
	#mainLogo{padding-top:50px;}
			
	#pageTitle{ 
		font-size: 3.2rem; 
		text-align: center;
		padding-top:0px;
	}
	
	#missionNav li{ width:50%;}
	
	#leftBadge{ display: none;}
	
	#socialNetworking{ display: none;}
	
	#rslider #flexcontainer .flexslider .slides li .homeButton{ display: none;}		
}
/*smartphone portrait*/
@media only screen and (width : 320px) and (orientation : portrait) {

	body {	font-size: 16px; -webkit-text-size-adjust: none;	}
	
	.row, body, .container {	width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto; float: none; margin-left: 0px; margin-right: 0px; padding-left: 10px; padding-right: 10px;}
	
	#mainLogo{ padding-top:78px;}
		
	#pageTitle{ 
		font-size: 3.2rem; 
		text-align: center; 
		padding-top: 0px;
	}
	
	#missionNav li{ width:50%;}
	
	#rslider #flexcontainer #tabs-nav { width: 35%;}
	#rslider #flexcontainer #tabs-nav li a{ font-size: 10px; line-height: normal;}
	#rslider #flexcontainer #tabs-nav #navuthscLink{ display: none;}
	#rslider #flexcontainer .flexslider .slides li .homeButton{ display: none;}
	.flex-caption{ display: none;}
	.flex-control-nav{display: none;}
	.flex-direction-nav{display: none;}
	.flex-pauseplay span{ display: none;}
	#leftBadge{ display: none;}
	#socialNetworking{ display: none;}
	.eventDate{width:26%;}
	.eventDetails{ width:70%;}
	#mainContent p.lightBtn{width:65%;}
	
	.weatheralert{top:0;}	
}

.sr-only {
	display:none !important;	
}